*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
}

:root {
    --main-color: #404eed;
    --sec-color: #23272a;
    --sec-bg-color: #f6f6f6;
    --txt-link-color: #00b0f4;
}

body {
    background: white;
    width: 100%;
    overflow-x: hidden;
}

main {
    background: white;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    
    text-align: center;
    color: var(--sec-bg-color);
}

header {
    padding: 1.5em 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg,#b473f5,#e292aa);
}

header > img {
    max-width: 130px;
}

.hamburger {
    display: block;
    width: 35px;
    cursor: pointer;
    padding: 0;
    margin: 0;

    background: none;
    outline: none;
    border: none;
    appearance: none;
    z-index: 99;
}

/*De container, middel streep, after & before streep*/
.hamburger .bar, .hamburger::after, .hamburger::before {
    width: 75%;
    height: 5px;
    background-color: #fff;
    transition: .4s ease-in-out;
    margin: 4px 0;
    content:"";
    display: block;
}

/*Eerste streep*/
.hamburger.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: var(--sec-color);
    height: 2px;
    width: 75%;
}

/*Laatste streep*/
.hamburger.active::after {
    transform: rotate(45deg) translate(-4px, -5px);
    background-color: var(--sec-color);
    height: 2px;
    width: 75%;
}

/*Na het openen van de hamburger menu, verdwijnt de middelste streep*/
.hamburger.active .bar {
    opacity: 0;
}

/*Desktop menu*/
.desktop {
    display: none;
}

/*Menulijst*/
.mobile {
    position: fixed;
    display: block;
    top: 0;
    left: 100%;
    width: 75%;
    min-height: 100vh;
    z-index: 98;
    background: var(--sec-bg-color);
    padding: 1.5em;
    padding-top: 100px;
    transition: .2s;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 8px 15px rgba(0,0,0,.3);
}

.mobile.open {
    left: 25%;
}

/*Styling van de items in de menulijst*/
.mobile > a {
    display: block;
    width: fit-content;
    text-align: left;
    margin-bottom: 16px;
    padding: 12px 16px;
    color: var(--sec-color);
}

/*Tijdens het openen van de menu, kan je niet scrollen*/
body.scroll {
    overflow: hidden;
}

/*Tijdens het openen van de menu, is er een zwarte overlay op de achtergrond*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background: rgba(0,0,0,.3);
    opacity: 0;
    transition: .2s;
}

.overlay.on {
    opacity: 1;
    z-index: 97;
}

/*Hero Image*/
.landingspagina > section:first-of-type img:first-of-type {
    position:absolute;
    width: 250px;
    height: auto;
    left: 50%;
    display: block;
    transform:translateX(12px);
    margin-top: 0;
}

.landingspagina > section:first-of-type img:nth-of-type(2) {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 152px;
}

.landingspagina > section:first-of-type p {
    margin-top: 40px;
}

/*Section 1 Frame*/
.landingspagina > section:first-of-type {
    background: linear-gradient(90deg,#b473f5,#e292aa);
    padding: 112px 24px;
    margin: 0;
    border-radius: 0;
    overflow-x: hidden;
    position: relative;
}

.landingspagina > section:first-of-type > video {
    display: none;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.625em;
    font-weight: 100;
  }

h1 {
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


@media screen and (min-width: 768px) {

    /*NAV*/
    .hamburger {
        display:none;
    }

    .bar {
        display: none;
    }

    .desktop {
        z-index: 1;
        display: block;
        margin:0 auto;
    }

    .desktop > a {
        margin: 0 1em;
        color: var(--sec-bg-color);
        font-weight: bold;
    }

    .desktop > a:hover {
        text-decoration: underline;
    }

    /*Header*/
    header {
        z-index: 1;
        background: transparent;
        position: absolute;
        display: flex;

        padding-left: 19%;
        padding-right: 19%;
        min-width: 100vw;
    }

    /*HERO CONTAINER*/
    .landingspagina > section:first-of-type {
        padding-left: 19%;
        padding-right: 19%;
        padding-bottom: 170px;

        background: none;
        overflow: hidden;
        z-index: 0;
    }

    .landingspagina > section:first-of-type > video {
        position: absolute;
        z-index: -1;
        left: -328px;
        top: -206px;
        right: 0;
        display: block;
    }

    .landingspagina > section > .container > a > button:first-of-type {
        min-width: 275px;
        max-width: 275px;
    }

    .landingspagina > section > .container > a > button:nth-of-type(2) {
        min-width: 212px;
        max-width: 212px;
        margin-left: 40px;
    }

    .container {
        display: flex;
    }

    .landingspagina > section {
        text-align: left;
    }

    .landingspagina > section:first-of-type p {
        max-width: 580px;
        font-size: 1.2em;
    }

    .landingspagina > section:first-of-type img:nth-of-type(1){
        display: none;
    }

    .landingspagina > section:first-of-type img:nth-of-type(2){
        margin-left: 0;
        margin-top: 90px;
    }

  

    /*GRID CONTAINER*/
    .gridcontainer {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        column-gap: 1.3em;
        row-gap: 1.3em;
        
        width: 48%;
        margin: 0 auto;
        z-index: 1;
    }

    .gridcontainer > section {
        text-align: center;
        padding: 40px 25px;
    }

    .gridcontainer > section p:first-of-type{
        font-size: 1.2em;
    }
}

/*Voor Hero Video, als scherm groter is dan 1920x1080*/
@media screen and (min-width: 2000px) {
    
    .landingspagina > section:first-of-type > video {
        left: 0;
    }
}

